<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recycling">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Games_Stats"></activity>
        <activity android:name=".Games_Start" />
        <activity android:name=".Games" />
        <activity android:name=".Random_Facts" />
        <activity android:name=".Should_Recycle_Natural" />
        <activity android:name=".Should_Recycle_Glass" />
        <activity android:name=".Should_Recycle_Clothes" />
        <activity android:name=".Should_Recycle_Foam" />
        <activity android:name=".Should_Recycle_Chemical" />
        <activity android:name=".Should_Recycle_Metal" />
        <activity android:name=".Should_Recycle_Paper" />
        <activity android:name=".Should_Recycle_Plastic" />
        <activity android:name=".Should_Recycle" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>